<div id="cookieNotice" class="light display-right" style="display: none;">
  <div class="alert alert-danger">
    <div id="closeIcon" style="display: none;">
    </div>
      <div class="title-wrap">
          <h4>Cookie Consent</h4>
      </div>
      <div class="content-wrap">
          <div class="msg-wrap">
              <p>This website uses cookies or similar technologies, to enhance your browsing experience and provide personalized recommendations. By continuing to use our website, you agree to our  <a style="color:#115cfa;" href="/privacy">Privacy Policy</a></p>
              <div class="btn-wrap">
                  <button class="btn-primary" onclick="acceptCookieConsent();">Accept</button>
              </div>
          </div>
      </div>
  </div>
</div>