<div class="container-fluid">
  <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="logo" width="128" height="28"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggle-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/dashboard">RV'er Seeking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/dashboard">Seeking an RV'er</a>
      </li>
    </ul>
    <div class="d-grid gap-2 d-md-block">

      <button class="btn btn-secondary login">Login</button>
      <button class="btn btn-primary">Join</button>
      <button id="logout" class="btn-no-style">Log Out</button>
    </div>
  </div>

</div>