<h3>Login</h3>
<form class="form-control login-form">
  <div class="col-auto">
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div class="col-auto">
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div class="col-auto">
    <button type="submit">login</button>
  </div>
  <p>
    By Logging In, You are agreeing to our <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>. 
  </p>
</form>
<hr style="height: 0.5rem;">
<h3>Sign Up</h3>
<form class="form-control signup-form">
    <div class="col-6">
    <label for="brn-signup">BRN:</label>
    <input type="text" id="brn-signup" />
  </div>
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
    <p>
    By Signing Up, You are agreeing to our <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>. 
  </p>
</form>

<script src="/javascript/login.js"></script>