<section id="privacy-policy">
  <div>
    <h4>Privacy Policy</h4>
    <p>Technical Service & Support, a Florida limited liability company (TS&S) operates an online network of websites and desktop and mobile software applications (collectively referred to herein as the Application).</p>
    <p>TS&S believes it is important to protect and respect the privacy of our members, users, and visitors. This Privacy Policy covers our treatment of personally identifiable information collected by TS&S through our Application.</p>
    <p>We urge you to read this Privacy Policy so that you will understand both our commitment to you and your privacy, and how you can participate in that commitment.</p>
    <p>We will not sell, share, or rent this information to others in ways other than those outlined in this Privacy Policy. TS&S collects information from our users at several different points on the Application. Personal Information (defined below) provided by users ("you") will be used by TS&S to improve the Application and provide a more personalized experience for the user and/or to measure and improve our services, but information that identifies a specific individual will not be disclosed to third parties without the user's permission unless necessary to provide services which the user has requested.</p>
    <p>This online privacy policy applies only to information collected through our application and not to information collected offline.</p>
    <p>TS&S is based in Florida and is only required to comply with any applicable U.S. data and privacy laws. Do not use the Application if any provision of this Privacy Policy does not comply with any laws of your jurisdiction.</p>
    <p>Any capitalized terms not defined herein shall have the meaning ascribed to them in the <a href="/terms">Terms of Service</a> which are incorporated herein by reference ("Terms"). In the event of a conflict between this Privacy Policy and the Terms, the provisions of this Privacy Policy will prevail.</p>
    <p style="font-weight: bold;">What kinds of personal information about you do we process?</p>
    <p>In general, you can browse our Application without telling us who you are or revealing any personal information about yourself. We will ask you when we need information that personally identifies you or allows us to contact you ("Personal Information"). Generally, this information is requested when you become a member of one of our Applications or contact us for information.</p>
    <p>Additional details about the type of information we may collect from you are described in the following section.</p>
    <p style="font-weight: bold;">What is the source of your personal information?</p>
    <p>TS&S may collect information from you in several different ways including the following:</p>

      <ol>
        <li>Registration. In order to use the services offered by our Application, you may be required to create an account with us. During the registration process, you are required to give certain contact information, including, but not limited to, your name, email address, birthday, and mailing address. We use this information to contact you about the services on our Application in which you have expressed interest and to facilitate future related services.</li>
        <li> Log Files. As is true of most websites and applications, our Application gathers certain information automatically and store it in log files. This information includes Internet Protocol (IP) addresses, browser type, Internet Service Provider (ISP), referring/exit pages, operating system, date/time stamp, and movements around the application, and to gather demographic information about our user base as a whole.</li>
        <li>Correspondence. If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities, we may collect such information into a file specific to you.</li>
        <li>Supplementation of Information. In order to provide certain services to you, we may on occasion supplement the personal information you submitted to us with information from third-party sources.</li>
        <li>Application Usage. TS&S may monitor your activities, preferences, and transactional data (such as your IP address) relating to your use of our Application and/or services and log this information. This information may be used to diagnose the Application's technical problems or problems with your account and to enhance your experience in using our Application.</li>
        <li>Service-related Announcements. We may send you strictly service-related announcements on rare occasions when it is necessary to do so. For instance, if our service is temporarily suspended for maintenance, we might send you an email. Generally, you may opt-out of these communications, which are not promotional in nature. If you do not wish to receive them, you have the option to deactivate your account.</li>
        <li><p>Cookies. Cookies are data files that are written onto your computer by a website, and stay there unless they expire or are removed by you. Cookies enable us to recognize your computer when you revisit our Application, and recall your Application preferences to enhance your experience in using the Application.</p>
          <p>First-party cookies are created by the website that you are visiting. A third-party cookie is frequently used in behavioral advertising and analytics and is created by a domain other than the website you are visiting. </p>
          <p>We do not use cookies to collect or use any information about your visits to third-party websites or otherwise collect any information from our Application.</p>
          <p>Consult your browser Help menu to learn more about how you can configure your browser software to notify you when your computer receives a new cookie. Note that you may also be able to configure your browser to disable the creation of cookies entirely (although your full interactive use of the Application may be adversely impacted if you do this). We are not responsible for the use of cookies by third parties or how such parties may collect or use any information about your visits on our Application. This Privacy Policy covers the use of cookies by the Application only and does not cover the use of cookies by any advertisers or third parties.</p>
          <p>For more information about cookies and how to disable them, you can consult the information at <a href="https://www.allaboutcookies.org/manage-cookies/">www.allaboutcookies.org/manage-cookies/.</a></p>
          <p>Without cookies, you may not be able to take full advantage of the Application content and features. Please note that rejecting cookies does not mean that you will no longer see ads when you visit our Application.</p>
        </li>
        <li>Pixels Tags and Web Beacons. TS&S may use other industry standard technologies like pixel tags and web beacons to track your use of the Application, or we may allow third parties to use these devices on our behalf. When you access the Application, or open or click an email, pixel tags and web beacons generate a non-personally identifiable notice of that action. Pixel tags allow us to measure and improve our understanding of visitor traffic and behavior on the Application, as well as give us a way to measure our promotions and performance. We may also utilize pixel tags and web beacons provided by our marketing and advertising partners for the same purposes.</li>
     
        <p>We use Google Analytics to analyze the use of our applications. Google Analytics gathers information on application use by means of cookies. The information gathered relating to our application is used to create reports about the use of our application. Google's privacy policy is available at: <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a></p>
        <p>Most browsers allow you to refuse to accept cookies and delete cookies. The methods for doing so vary from browser to browser, and from version to version. You can, however, obtain up-to-date information about blocking and deleting cookies via these links:</p>
        <p>
          <ul>
            <li><a href="https://support.google.com/chrome/answer/95647?hl=en">https://support.google.com/chrome/answer/95647?hl=en</a> (Chrome);</li>
            <li><a href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop">https://support.mozilla.org/en-US/kb...irefox-desktop</a> (Firefox);</li>
            <li><a href="https://www.opera.com/help/tutorials/security/cookies/">https://www.opera.com/help/tutorials/security/cookies/</a> (Opera);</li>
            <li><a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/en-gb/...manage-cookies</a> (Internet Explorer);</li>
            <li><a href="https://support.apple.com/guide/safari/manage-cookies-sfri11471/mac">https://support.apple.com/guide/safa...-sfri11471/mac</a> (Safari); and</li>
            <li><a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">https://privacy.microsoft.com/en-us/...ge-and-privacy</a> (Edge).</li>
          </ul>
        </p>

        <p>Please note that blocking cookies may have a negative impact on the functions of many websites, including our Application. Some features of the Application may cease to be available to you.</p>
        
        <p style="font-weight: bold;">Who is collecting the data?</p>
        <p>TS&S and collaborating third parties in order to provide service to our users.</p>

        <p style="font-weight: bold;">What are the legal grounds for our processing of your personal information (including when we share it with others)?</p>
        <p>We rely on the following legal bases to use your personal data:
          <ul>
            <li>Where it is needed to provide you with our products or services, such as:</li>
            <ol>
              <li>Assessing an application for a product or service you hold with us, including considering whether or not to offer you the product, the price, the payment methods available and the conditions to attach.</li>
              <li>Managing products and services you hold with us, or an application for one.</li>
              <li>Sharing your personal information with third party service providers when you subscribe as needed to help provide you the service.</li>
              <li>All stages and activities relevant to managing the product or service including inquiry, application, administration and management of accounts.</li>
              <li>For some of our profiling and other automated decision making to decide whether to offer you a product and/or service.</li>
              <li>Where it is in our legitimate interests to do so, such as:</li>
                <ul>
                  <li>Managing your records, and contacting you about your account (where appropriate).</li>
                  <li>To perform and/or test the performance of, our products, services and internal processes.</li>
                  <li>To follow guidance and recommended best practices of government and regulatory bodies.</li>
                  <li>For management and audit of our business operations including accounting.</li>
                  <li>To carry out monitoring and to keep records of our communications with you and our team.</li>
                  <li>To administer our good governance requirements, such as internal reporting and compliance obligations or administration.</li>
                  <li>For market research and analysis and developing statistics.</li>
                  <li>For direct marketing communications and related profiling to help us to offer you relevant products and services, including deciding whether or not to offer you certain products and services.</li>
                </ul>
              <li>Subject to the appropriate controls, to provide insight and analysis of our customers, helping us improve products or services, or to assess or to improve the operations of our business.</li>
              <li>For some of our profiling and other automated decision making.</li>
              <li>Where we need to share your personal information with people or organizations in order to run our business or comply with any legal and/or regulatory obligations.</li>
              <li>To comply with our legal obligation.</li>
              <li>With your consent or explicit consent:</li>
              <ul>
                <li>For some direct marketing communications.</li>
                <li>For some of our profiling and other automated decision making processes.</li>
                <li>For some of our processing of special categories of personal data such as about your health, if you are a vulnerable customer or some criminal records information.</li>
              </ul>
           </ul>
          </p>

        <p style="font-weight: bold;">What do we use your personal data for?</p>
        <p>We use your personal data, including any of the personal data listed above, for the following purposes:
          <ul>
            <li>Assessing an application for a product or service including considering whether or not to offer you the product or service, the price, the risk of doing so, availability of payment method and the terms.</li>
            <li>Managing the product or service you have with us.</li>
            <li>Updating your records.</li>
            <li>Managing any aspect of the product or service.</li>
            <li>To make automated decisions on whether to offer you a product or service, or the price, payment method, risk or terms of it.</li>
            <li>To perform and/or test the performance of, our products, services and internal processes.</li>
            <li>To improve the operation of our business.</li>
            <li>To follow guidance and best practices under the change to rules of governmental and regulatory bodiesFor management and auditing of our business operations including accounting.</li>
            <li>To monitor and to keep records of our communications with you and our team.</li>
            <li>To administer our good governance requirements such as internal reporting and compliance obligations or administration</li>
            <li>For market research and analysis and developing statistics.</li>
            <li>For direct marketing communications and related profiling to help us to offer you relevant products and services, including deciding whether or not to offer you certain products and services. </li>
            <li>To provide personalized content and services to you, such as tailoring our products and services, our digital customer experience and offerings, and deciding which offers or promotions to show you on our digital channels.</li>
            <li> To develop new products and services and to review and improve current products and services.</li>
            <li>To comply with legal and regulatory obligations, requirements and guidance.</li>
            <li>To provide insight and analysis of our customers both for ourselves either as part of providing products or services, helping us improve products or services, or to assess or improve the operations of our business.</li>
            <li>To facilitate the sale of one or more parts of our business.</li>
          </ul></p>
          <p style="font-weight: bold;">How Long Do We Retain Your Data?
            <p>We typically maintain your data for as long as you use our Application and/or our services. We also reserve the right to retain any/all data from our users and former users indefinitely unless/until the user requests the removal of their personally identifiable information as defined in our Terms, or in the event we are legally required to remove the data, whichever occurs first.</p>
            <p>We will generally only retain your Personal Information for so long as is necessary to fulfill the purposes for which it was collected, as set out under this section above. However, in the following circumstances, we may be required to retain, preserve or disclose your Personal Information for a longer period of time:</p>
            <ul>
              <li>in order to comply with applicable laws or regulations;in order to comply with a court order, subpoena or other legal processes;in response to a request by a government authority, law enforcement agency or similar body (whether situated in your jurisdiction or elsewhere);where we believe it is reasonably necessary to comply with applicable laws or regulations; orin order to enforce the TS&S Terms of Service or this Privacy Policy, protect our rights, property or safety, or the rights, property, or safety of our affiliate companies or other users of TS&S.</li>
            </ul>
          </p>
          <p style="font-weight: bold;">When and How Do We Disclose Collected Information.
            <ul>
              <li>Information from the Application. TS&S will never disclose to non-affiliated third parties without your prior approval, your email address, phone number, or other personally identifiable information, that we collect via our Application. However, we reserve the right to outsource certain activities to our business partners. In such case, we will disclose to these business partners only such information as is required to facilitate your transactions, and we will make every effort to have our business partners protect and refrain from disclosing your information to other third parties.</li>
              <li>Information Disclosed for Direct Marketing. From time to time, as marketing opportunities arise with trusted third-party companies, TS&S may share your demographical information after a diligent review of the offers. Sharing information will be done only through reputable third parties who have safeguards in place. TS&S screens all companies who request information and reserves the right of refusal on any opportunity if the third party does not meet certain standards. TS&S will also cross market between its affiliated companies and others. However, our customers should be assured that at no time will personal e-mails be shared. Furthermore, you have the ability to opt-in for any third-party offers.</li>
              <li>Disclaimer. We cannot ensure that all of your private communications and other personal information will never be disclosed in ways not otherwise described in this Privacy Policy. By way of example (without limiting the foregoing), we may be forced to disclose personal information to the government or third parties under certain circumstances, third parties may unlawfully intercept or access transmissions or private communications, or users may abuse or misuse your personal information that they collect from our Application.</li>
              <li>Law Enforcement. TS&S, however, will cooperate with official law enforcement inquiries, such as fraud investigations and subpoenas, and will disclose your information when necessary to comply with state and federal laws and regulations.</li>
            </ul>
          </p>
          <p style="font-weight: bold;">Security.</p>
          <p>TS&S is committed to ensuring that your registration information is protected while you are on our Site. We follow generally accepted industry standards to protect the personal information submitted to us from unauthorized access, disclosure, alteration, or destruction, during transmission and once we receive it. Our goal is to provide a high-quality service with the best possible online experience.</p>
          <p>This includes procedures followed by our personnel to prevent data loss or theft, physical security of our servers and information stores and electronic security such as firewalls, password-protected databases and secure connections. TS&S may use certain third parties for services such as advertising, marketing and order fulfillment. We strive to work with third parties whose privacy policies and security practices are similar to our own.</p>
          <p>You should be aware, however, that no data transmitted over the Internet, sent through the mail or stored on a computer is 100% secure and that we cannot guarantee the security of your personal data while in transmission to us. Public computers in particular should never be considered secure. You should never give out Personal Information on the Application, or its message board, in chat rooms and other publicly viewable locations. In addition, there exist malicious programs, typically called computer viruses or trojan horses, which can be used to capture information off your computer's hard drive or while you are entering it into a web form or sending it by email. You should always use the appropriate anti-virus and personal security technology to protect yourself. Lastly, if you have been assigned a login ID and/or password for use on an TS&S system, you should never give out that information to others.</p>
          <p>We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems and are required to keep the information confidential.</p>
          <p>After a transaction, your private information (credit cards, financials, etc.) will not be stored on our servers.</p>
          
          <p style="font-weight: bold;">Your Rights Regarding the Data We Collect.</p>
          <p>If your personally identifiable information changes, or if you no longer desire some or all of our services, you may correct, update or deactivate by accessing the "Contact Us" link and submitting a request or ticket through the TS&S Support Center.</p>
          <p>California Online Privacy Protection Act Compliance. Because we value your privacy, we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to third parties except as provided in this Privacy Policy.</p>
          <p>Children 18 Years of Age and Younger. You must be 18 or over to use the Application. We are in compliance with the requirements of COPPA (Children's Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our application, products and services are all directed to people who are at least 18 years old or older.</p>
          <p style="font-weight: bold;">Enforcement.</p>
          <p>If for some reason you believe TS&S has not adhered to the principles of this Privacy Policy, please notify us by accessing the "Contact Us" link and submitting a request or ticket through the TS&S Support Center.</p>
          <p>Limitations of Warranties and Remedies. To the full extent allowed by law, TS&S disclaims all warranties, terms or conditions, express or implied, either in fact or by operation of law, statutory or otherwise, including warranties, terms, or conditions of merchantability, fitness for a particular purpose, and warranty of non-infringement. TS&S neither assumes nor authorizes any other person to assume for it any other liability in connection with SERVICES FROM TS&S THROUGH THE COMMUNITY WEBSITES. liability OF TS&S will not exceed the fee paid by the customer for the PURCHASE of the products. In no event will TS&S nor its affiliates, employees, agents, directors, officers, or owners be liable for any incidental, consequential, punitive, or special damages, including, without limitation, lost profits or revenues, even if TS&S has, or should have had, any knowledge, actual or constructive, of the possibility of such damages.</p>
          <p>Indemnification. Each of the parties acknowledges and agrees that by entering into and performing its obligations under this Privacy Policy, TS&S will not assume and should not be exposed to the business and operational risks associated with your business. You agree to defend, indemnify, and hold harmless TS&S and its officers and employees against any and all third party claims, suits, costs, losses liabilities and expenses of any kind (including reasonable attorneys' fees) that TS&S may incur arising out of or resulting from the use of the Applications or any of the services of TS&S, the end-user, or any other person.</p>
          <p>Choice of Law and Venue. This agreement will be construed and governed in accordance with the laws of the state of Florida without application of choice-of-law provisions that would require application of the laws of another jurisdiction. By entering into this agreement, all parties irrevocably submit themselves to the exclusive jurisdiction of the state and federal courts in Seminole County, Florida with regard to any dispute relating to this Privacy Policy or its enforcement. The parties also hereby waive any challenge to venue they may have to a lawsuit filed in a state or federal court in Seminole County, Florida, regarding a dispute between the parties relating to this Privacy Policy or its enforcement.</p>
          <p>Severability. If any provision of this Privacy Policy is found to be invalid, illegal, or unenforceable, the validity, legality and enforceability of any of the remaining provisions will not in any way be affected or impaired and a valid, legal, and enforceable provision of similar intent and economic impact will be substituted therefore.</p>
          <p>Additional Provisions Regarding Liability. The parties agree that the foregoing limitations will not be read so as to limit any liability to an extent that would not be permitted under applicable law and specifically will not limit any liability for gross negligence, intentional tortious or unlawful conduct, or damages for strict liability that may not be limited by law.</p>
          <p>Notices. Any notices or other communication required or permitted to be made or given by either Party pursuant to this Privacy Policy will be in writing, in English, and will be deemed to have been duly given when delivered if delivered personally or sent by recognized overnight express courier, to the address specified herein or such other address as TS&S may specify in writing. All notices shall be sent to:</p>
          <p>ATTENTION: TS&S 810 Eyrie Drive, Oviedo, FL 32765</p>
     
          <p style="font-weight: bold;">Additional Information.</p>
          <ul>
            <li>Links. Our Application may contain links to other sites. However, please be aware that TS&S is not responsible for and cannot control the privacy policies of such other sites. We encourage you to be aware when you leave the Application and to read the privacy statements of each and every website that collects personally identifiable information. This Privacy Policy applies solely to information collected by our Application.</li>
            <li>Notification of Privacy Statement Changes. We reserve the right to change this Privacy Policy at any time, and you may visit this page to learn of our revised Privacy Policy. All such changes shall be binding on you 14 calendar days after they are initially posted on our Application unless you are a new user, in which case they are binding on you immediately.</li>
            <li>Business Transition. In the event we go through a business transition, such as a merger, acquisition by another company, or sale of all or a portion of our assets, your personally identifiable information will likely be among the assets transferred.</li>
            <li>Contact Us. If you have any questions or suggestions regarding our privacy policy, access the "Contact Us" link and submit a request or ticket through the TS&S Support Center.</li>
          </ul>
  </div>
</section>
