<section id="terms-of-service">
  <div>
    <h4>Terms of Service</h4>
    <p>
     These Terms of Service (the "Terms") govern your use of and access to the Technical Services & Support, LLC (TS&S) software application and all associated websites, features, plug-ins, and related software, systems and networks (collectively, the "Application"). By accessing or using this Application, you are agreeing to the Terms, which constitute a legally binding contract between you and TS&S, a Florida limited liability company ("TS&S"), the owner of Application. The terms "we," "us," "our," and "owner," refer to TS&S. The terms "you" and "your" refer to the user using or accessing the Application.
    </p>
    <p>
      This Application is offered to you conditioned upon your acceptance without modification of the Terms set forth below. By accessing or using this Application in any manner, you agree to be bound by the Terms and represent that you have read and understood its provisions. Please read the Terms carefully, as they contain information concerning your legal rights and limitations on these rights. If you do not accept all of these terms and conditions, please do not access the Application.
    </p>
    <p>
      Your use of the Application is also governed by our Privacy Policy, as amended from time to time, which is incorporated into these Terms by reference. Click here to read our <a href="/privacy">Privacy Policy</a>.
    </p>
    <p>
      By using the Application, you understand we may change or otherwise modify the Terms in the future, and you understand and agree that, without prior notice, once the amended Terms are posted on the Application, your continued access or use of this Application signifies your acceptance of the updated or modified Terms.
    </p>
        <p style="font-weight: bold;">GENERAL LEGAL TERMS</p>
    <p>
      Account Management. You will be required to establish an account in order to use the Application and/or take advantage of certain features. You agree to provide accurate and complete information about yourself. Your account is meant to be personal (i.e., one per family) and you shall not share accounts for any reason. Your account is not to be used for commercial purposes.
    </p>
    <p>
      Assignment. TS&S may assign any part of this agreement without your written consent. Except as otherwise provided herein, you may not assign any of your rights under these Terms to any third party without the express written consent of TS&S. Any attempted assignment in violation of the foregoing will be void and of no effect. Subject to the above, these Terms will be binding upon and inure to the benefit of your permitted successors and assigns. HOWEVER, TS&S HAS NO OBLIGATIONS OR LIABILITY TO ANY SUCH NEW OWNER, AND YOU WILL INDEMNIFY AND HOLD TS&S HARMLESS FOR ANY SUCH CLAIMS, EXPENSES OR DAMAGES.
    </p>
    <p>
      Application Features. TS&S reserves the right at any time in our sole discretion to modify or discontinue the Application, modify or discontinue any information or other content or features of the Application, or terminate your Password and Account and your use of the Application, for any reason or no reason.
    </p>
    <p>
      Third Party Links and Services. Additional terms and conditions may be applicable to our third-party service providers whom we partner with to facilitate such transactions, including, without limitation, a payment processor. Such third-parties to those transactions may have those additional terms displayed on the web pages or links that enable you to conduct such business and complete the transactions. Please review carefully the third party's policies, practices and rules, and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third party.
    </p>
    <p>
      Advertisements. If any advertisement for a product or service provided by anyone other than TS&S appears on the Application, TS&S does not endorse, warrant or guarantee any such product or service and will not be a party to or in any way monitor any transaction between you and third party providers of products or services. As with the purchase of a product or service through any medium or in any environment, you should use your best judgment and exercise caution where appropriate.
    </p>
    <p>
      No Waiver. TS&S will not be treated as having waived any rights by not exercising (or delaying the exercise of) any rights under these Terms. A waiver will be effective only if TS&S expressly states in a writing signed by an authorized representative that TS&S is waiving a specified Term.
    </p>
    <p>
      Entire Agreement. These terms set out all terms agreed between the parties and supersede all other agreements between the parties relating to its subject matter.
    </p>
    <p>
      Severability. If any term (or part of a term) of these Terms is invalid, illegal, or unenforceable, the rest of the Terms will remain in effect.
    </p>
    <p>
      Governing Law. The validity, interpretation and enforceability of these Terms shall be governed by the exclusive jurisdiction and laws of the State of Florida without regard to any conflicts of law principles. Any dispute relating to these Terms or the Application will be resolved solely by courts of competent subject matter jurisdiction located in Seminole County, Florida, and you hereby agree to the personal jurisdiction of such courts.
    </p>
    <p>
      Relationship. These Terms do not create any joint venture, partnership or other fiduciary relationship between the parties.
    </p>
    <p>
      EXPORT CONTROL. Any tools, information, documents, or other data or materials (collectively, "Materials") available from or through the use of the Application are or may be subject to United States export controls. No such Materials may be downloaded, accessed or otherwise exported or re-exported (1) into (or to a national or resident of) Cuba, Iran, Sudan, Syria, North Korea, or any other country to which the United States has embargoed goods or other sanctions; or (2) to anyone on the U.S. Treasury Department's list of Specially Designated Nationals or the U.S. Commerce Department's Table of Denial Orders or other similar list (each, a "Restricted List"). By using or downloading any Materials, you are warranting that you are not located in, under the control of, or a national or resident of any such country or on any Restricted List.
    </p>
    <p style="font-weight: bold;">ACCOUNT CREATION AND MANAGEMENT</p>
    <p>
      Eligibility.
    </p>
    <p>  
      To access our Application, you must be an individual of eighteen ( 18 ) years of age or older who can form legally binding contracts. To become a Registered User, you must accept all of the terms and conditions in, incorporated by reference in, and linked to, these Terms. By becoming a Registered User, you agree to: (1) abide by these Terms and the processes, procedures, and guidelines described throughout the Application; (2) be financially responsible for your use of the Application and access and use by any others; and (3) provide TS&S with and maintain accurate contact information, unless such obligations are prohibited by law or by the Terms. TS&S reserves the right, in its sole discretion, to refuse, suspend, or terminate these Terms and/or access to the Application to anyone.
    </p>
    <p>
      Registration.
    </p>
    <p>  
      To become a Registered User and to access the Application you must register for a user account ("Account"). You agree to provide true, accurate and complete information as prompted by the registration form and all forms you access on the Application, and to update this information to maintain its truthfulness, accuracy and completeness.
    </p>
    <p>
      Accounts and Profiles.
    </p>
    <p>  
      Once you have registered with the Application as a Registered User, the Application will create your Account with TS&S and associate it with an account number.
    </p>
    <p>
      Password. 
    </p>
    <p>  
      During registration, you will be asked to choose a password ("Password") for the Account. As a Registered User, you agree and you are entirely responsible for safeguarding and maintaining the confidentiality of the password you use to access this Application. You authorize TS&S to assume that any person using the Application with your username and password is you or is authorized to act for you. You agree to notify us immediately if you suspect any unauthorized use of the Account.
    </p>
    <p>
      With respect to your Password used to access this Application:
      <ul>
        <li>You agree to use the Application solely for legitimate purposes.</li>
        <li>When registering for an account, you agree that you will use only accurate and truthful information about yourself and you will not imitate any other person or assume a false identity.</li>
        <li>You agree not to share your login information with any other person.</li>
        <li>You agree to immediately notify us of any unauthorized use of your account, login information, or the Application.</li>
        <li>You agree to assume and bear full responsibility for all risks arising out of the use of the Application by you and any other person using your login information.</li>
      </ul>
    </p>
    <p style="font-weight: bold;">LIABILITY DISCLAIMER</p>
    <p>
      PLEASE READ THIS SECTION CAREFULLY. THIS SECTION LIMITS TS&S'S LIABILITY TO YOU FOR ISSUES THAT MAY ARISE IN CONNECTION WITH YOUR USE OF THIS WEBSITE. IF YOU DO NOT UNDERSTAND THE TERMS IN THIS SECTION OR ELSEWHERE IN THE AGREEMENT, PLEASE CONSULT A LAWYER FOR CLARIFICATION BEFORE ACCESSING OR USING THIS WEBSITE.
    </p>
    <p>
      The information, products, and services published on this Application may include inaccuracies or errors. TS&S does not guarantee the accuracy of, and disclaims all liability for, any errors or other inaccuracies relating to the information on the Application (including but not limited to descriptions of campgrounds, RV parks, points of interest, and any other product displayed on this Application). You agree, to the maximum extent permitted by law, that in no event shall TS&S or its officers, owners, agents, employees, directors, representatives, or affiliates be liable for:
      <ul>
        <li>Any direct, indirect, punitive, exemplary, incidental, special, or consequential damages that may be incurred by you, however caused and under any theory of liability (including contract, tort, common law, or statutory damages); any loss of revenue or profit (whether incurred directly or indirectly); any loss of goodwill or business reputation; any loss of data; any cost to procure substitute goods or services; or any intangible loss; or</li>
        <li>Any loss or damage as a result of:</li>
        <ul>
          <li>Any reliance placed by you on the completeness, accuracy, or existence of any information, reviews, ratings, opinions, or other material appearing on the Application and/or its services (including but not limited to the existence, condition, availability, and location of RV parks, campgrounds, roadways, gas stations, and other points of interest as well as the existence, condition, and accuracy of any other information regarding routes of travel, road conditions, and other travel information provided by the Application or a third-party through the Application);</li>
          <li>Any changes that TS&S may make to the Application, or any permanent or temporary discontinuation of your access to or use of this Application, or any delay or inability to access or use this Application, (including, but not limited to, your reliance upon property location, route information, points of interest, and any other travel information or services provided by the Application);</li>
          <li>The deletion, corruption, or failure to store any content or other data maintained or transmitted through your use of the Application;</li>
          <li>Your failure to keep your password or account details secure and confidential.</li>
        </ul>
      </ul>
    </p>
    <p>
      Limitation of Damages. NOTWITHSTANDING ANYTHING TO THE CONTRARY IN THIS AGREEMENT, IN NO EVENT WILL TS&S, ITS EMPLOYEES, OWNERS, OFFICERS OR DIRECTORS, AGENTS, SUCCESSORS OR ASSIGNS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY SPECIAL, INCIDENTAL, CONSEQUENTIAL, INDIRECT OR PUNITIVE DAMAGES ARISING IN ANY WAY OUT OF THE USE OF THE APPLICATION OR THE TERMS, INCLUDING WITHOUT LIMITATION, DAMAGES FOR TRAFFIC ACCIDENTS, VEHICLE DAMAGE, PHYSICAL OR ECONOMIC INJURY, LOST PROFIT, LOST REVENUE, LOSS OF USE, LOSS OF DATA, COST OF RECREATING LOST DATA, THE COST OF ANY SUBSTITUTE EQUIPMENT, PROGRAM OR DATA, WHETHER ARISING OUT OF CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE REGARDLESS OF WHETHER TS&S HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    </p>
    <p>
      If TS&S is found liable for any loss or damage that arises out of, or is in any way connected with, your use of the Application or its services, then its liability will in no event exceed, in the aggregate, the lesser of: (i)_ $500, or (ii) the amount of money you paid to TS&S as a membership fee for access to the Application.
    </p>
    <p>
      Disclaimer of Reliance. You expressly acknowledge your understanding that the information and services provided to you through the Application may contain errors and inaccuracies, and you are not relying on any representations made by TS&S through its Application, services, and promotional materials. You further agree to conduct and solely rely upon your own investigation regarding the information and services provided to you by or through the Application (including, but not limited to, the existence, condition, availability, and location of RV parks, campgrounds, roadways, gas stations, and other points of interest as well as the existence, condition, and accuracy of any other information regarding routes of travel, road conditions, and other travel information provided by the Application or a third-party through the Application).
    </p>
    <p>
      Allocation of Risk. The limitations of liability above reflect the allocation of risk between you and TS&S. The limitations specified in this section will survive and apply even if any limited remedy specified in these terms is found to have failed of its essential purpose.
    </p>
    <p style="font-weight: bold;">DISCLOSURE</p>
    <p>
      This Application is created or supported by a company, organization or group of organizations. For questions about this Application, please <a href="mailto:k_felder@me.com">Contact Us</a>.
    </p>
    <p>
      Disclosure of Material Connection: Some of the links in this Application are affiliate links. This means if you click on the link and purchase the item, the owner of this Application will receive an affiliate commission. Regardless, the owner of this Application only recommends products or services that will add value to the users. The owner of this Application is disclosing this in accordance with the Federal Trade Commission 16 CFR, Part 255: Guides Concerning the Use of Endorsements and Testimonials in Advertising.
    </p>
    <p>
      This Application may accept forms of cash advertising, sponsorship, paid insertions or other forms of compensation.
    </p>
    <p>
      The compensation received may influence the advertising content, topics or posts made in this Application. That content, advertising space or post may not always be identified as paid or sponsored content.
    </p>
    <p>
      The owner(s) of this Application may be compensated to provide opinions on products, services, Applications and various other topics. Even though the owner(s) of this Application receives compensation for owner(s) posts or advertisements, we always give our honest opinions, findings, beliefs, or experiences on those topics or products. The views and opinions expressed on this Application are purely the author. Any product claim, statistic, quote or other representation about a product or service should be verified with the manufacturer, provider or party in question.
    </p>
    <p>
      This Application does not contain any content which might present a conflict of interest.
    </p>
    <p style="font-weight: bold;">ANTI-SPAM</p>
    <p>
      TS&S does not authorize the harvesting, mining or collection of information from or through the Application or its services. It is prohibited to contact any member for any commercial reason without express written consent from TS&S.
    </p>
    <p>
      The owner of this Application does not permit or authorize others to use its services to collect, compile or obtain any information about its customers or subscribers, including but not limited to subscriber email addresses. The owner of this Application does not permit or authorize any attempt to use its services in a manner that could damage, disable, overburden or impair any aspect of any of the services, or that could interfere with any other party's use and enjoyment of the service.
    </p>
    <p>
      If the owner of this Application believes that unauthorized or improper use is being made of any service, it may, without notice, take such action as it, in its sole discretion, deems appropriate, including blocking messages from a particular internet domain, mail server or IP address. The operator of this Application may immediately terminate any account on any service which it determines, in its sole discretion, is transmitting or is otherwise connected with any message that violates this policy.
    </p>
    <p>
      Nothing in this policy is intended to grant any right to transmit or send messages to, or through, this Application and/or services. Failure to enforce this policy in every instance does not amount to a waiver of rights of the owner of this Application.
    </p>
    <p>
      Unauthorized use of this Application services in connection with the transmission of unsolicited messages, including the transmission of email in violation of this policy, may result in civil, criminal, or administrative penalties against the sender and those assisting the sender.
    </p>
    <p>
      Violators of the CAN SPAM Act may be subject to "cease and desist" orders or penalties from the FTC (Federal Trade Commission) of up to $11,000 per violation. Criminal prosecution is also possible in the case of egregious offenders, which can result in penalties such as fines, forfeiture of proceeds and equipment. The worst offenders can also be subject to prison time.
    </p>
    <p style="font-weight: bold;">USER CONTENT</p>
    <p>
    By posting content on the Application you warrant that you are the creator and owner of the posted content, or that you have obtained prior written consent to post said content from a third party owner. When posting content originating from any third party, you agree to conspicuously post the name of said third party adjacent to said posted content. By posting content on the Application, you also grant, and warrant that you have the authority to grant, TS&S a limited license to display, reproduce, modify, and use any text, image, video, music, or any other content that you post on the Application.
    </p>
    <p>
    If we learn of harmful content or conduct, we will take appropriate action - for example, offering help, removing content, removing or restricting access to certain features, disabling an account, or contacting law enforcement.
    </p>
    <p>
    To provide our services we need you to give us some legal permissions (known as a license) to use this content. This is solely for the purposes of providing and improving the Application and Services.
    </p>
    <p>
    When you share, post, or upload content that is covered by intellectual property rights on or in connection with our Application, you grant us a non-exclusive, transferable, sub-licensable, royalty-free, and worldwide license to host, use, distribute, modify, run, copy, publicly perform or display, translate, and create derivative works of your content.
    </p>
    <p>
    We have no obligation to review, monitor, delete, or edit the Services, including user Content. You acknowledge and agree that we have the right to do so at any time in our sole discretion, for any reason or no reason, with or without notice. We shall not be liable for any alteration or deletion of any Content.
    </p>
    <p style="font-weight: bold;">DIGITAL MILLENNIUM COPYRIGHT ACT (DMCA)</p>
    <p>
      We take copyright violations very seriously and will vigorously protect the rights of legal copyright owners.
    </p>
    <p>
      If you are the copyright owner of content which appears on our Application, and you did not authorize the use of the content, you must notify us in writing in order for us to identify the allegedly infringing content and take action.
    </p>
    <p>
      We will be unable to take any action if you do not provide us with the required information, so if you believe that your material for which you own the copyright has been infringed upon or violated, please provide us, in writing, with the following information:
      <ul>
        <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
        <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site.</li>
        <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material.</li>
        <li>Information reasonably sufficient to permit us to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.</li>
        <li>A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</li>
        <li>A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
      </ul>
    </p>
    <p>Written notice should be sent to: Technical Services & Support, LLC, 810 Eyrie Drive, Oviedo, FL 32765</p>
    <p style="font-weight: bold;">PROHIBITED ACTIVITIES</p>
    <p>
      The content and information on this Application (including, but not limited to, messages, data, information, text, music, sound, photos, graphics, video, maps, icons, software, code, or other material), as well as the infrastructure used to provide such content and information, is proprietary to us. You agree not to otherwise modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or re-sell any information, software, products, or services obtained from or through this Application. Additionally, you agree not to:
      <ul>
        <li>Use this Application or its contents for any commercial purpose (including, without limitation, as part of a short-term RV rental business or travel planning or route planning service).</li>
        <li>Access, monitor, or copy any content or information of this Application using any robot, spider, scraper, or other automated means or any manual process for any purpose without our express written permission.</li>
        <li> Violate the restrictions in any robot exclusion headers on this Application or bypass or circumvent other measures employed to prevent or limit access to this Application;</li>
        <li>Take any action that imposes, or may impose, in our discretion, an unreasonable or disproportionately large load on our infrastructure;</li>
        <li>Deep-link to any portion of this Application for any purpose without our express written permission; or</li>
        <li>"Frame", "mirror" or otherwise incorporate any part of this Application into any other website without our prior written authorization.</li>
        <li>Directory, or through third parties: (a) copy, except as expressly provided in these Terms, (b) modify or create derivative works of the Application and documentation, (c) reverse engineer, decompile, reverse translate or in any way derive any source code or trade secrets from the Application, or (d) merge or embed the Software into any other computer program.</li>
      </ul>
    </p>
    <p>
      Violators of prohibited activities may be subject to "cease and desist" orders or penalties of up to $25,000 per violation. Criminal prosecution is also possible in the case of egregious offenders, which can result in penalties such as fines, forfeiture of proceeds and equipment. The worst offenders can also be subject to prison time.
    </p>
  </div>
</section>